.my-card_wrapper {
    height: 42rem;
    width: 65rem;
    border: 2px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3rem solid #e2e3e7;
}

.my-card_inner_container{
height: 100%;
background-color: white;
position: relative;
}