.search-wrappr-container {
    display: flex;
    justify-content: center;
}

.search-button__container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
    /* height:30rem; */
    height: 2.8rem;
    overflow: hidden !important;
    /* position: absolute; */

}

.search-icon:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
}
    .search-icon {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 46.5%;
    bottom: -17rem;
    transform: translate(-50%,0);
    height: 14rem;
    width: 14rem;
    rotate: 45deg;
    /* height: 6rem; */
    /* width: 6rem; */
    /* display: flex; */
    /* justify-content: center; */
    border-radius:3rem 0 0 0;
    /* align-items: center; */
    /* position: absolute; */
    /* bottom: 0; */
    /* font-size: 1.5rem; */
    /* rotate: 45deg; */
    /* overflow: hidden; */



}

.search{
/* border: 2px solid green; */
rotate: -45deg;
position: absolute;
left: 1.5rem;
top: 1.5rem;
font-size: 1.5rem;
}